{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="my-3 p-4 shadow border">
                <h2 class="mb-3">Signup <i class="fa-solid fa-user-plus"></i></h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}            
                    <div class="form-group form-outline form-white mb-3">
                        <label class="form-label">{{ field.label_tag }}</label>
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                    </div>
                    {% endfor %}
                    <div class="mb-3 text-center">
                        <button type="submit"  class="btn btn-outline-dark">Signup</button>
                    </div>
                </form>
                <p>Already have an account? <a href="{% url 'login' %}" class="text-decoration-none text-dark fw-bold">Login</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
