{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="my-5 p-4 shadow border">
                <form action="" method="POST">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <a href="{% url 'todos' %}" class="shadow btn btn-sm btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Go back</a>
                    <button type="submit" class="shadow btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash-can"></i> Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
